<!DOCTYPE html>
<html>
<head>

<title>Login</title>
</head>

<body>
<article>
	<section class="Se Connecter">
		<h2>Se connecter</h2>

		<div class="sec">
			<input name="email" type="email" /> <br /> <input name="password"
				type="password" /> <br /> <input type="submit"
				value="SEND" class="submit" />


		</div>
	</section>

	<section class="Inscription">
		<h2>Inscription</h2>
		<div class="sec">
			<input name="nom" type="text" /> <br /> <input name="prenom"
				type="text" /> <br /> <input name="email" type="email" /> <br />
			<input name="password" type="password" /> <br /> <input
				name="mobil" type="number" /> <br /> <input type="submit"
				value="SEND" class="submit" />
		</div>

	</section>
</article>



</body>
</html>